<div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <mat-card class="p-4 bg-blue-200!"
      ><h1 class="mb-4 text-3xl font-semibold">Sales</h1>
      <div class="flex justify-between items-center">
        <div class="flex flex-col gap-2">
          <span class="font-semibold text-xl">10,000</span>
          <span class="text-green-600">+10%</span>
        </div>
        <div><mat-icon>attach_money</mat-icon></div>
      </div>
    </mat-card>
    <mat-card class="p-4 bg-red-200!"
      ><h1 class="mb-4 text-3xl font-semibold">Products</h1>
      <div class="flex justify-between items-center">
        <div class="flex flex-col gap-2">
          <span class="font-semibold text-xl">50</span>
          <span class="text-green-600">-10%</span>
        </div>
        <div><mat-icon>add_shopping_cart</mat-icon></div>
      </div>
    </mat-card>
    <mat-card class="p-4 bg-green-200!"
      ><h1 class="mb-4 text-3xl font-semibold">Orders</h1>
      <div class="flex justify-between items-center">
        <div class="flex flex-col gap-2">
          <span class="font-semibold text-xl">100</span>
          <span class="text-red-600">-20%</span>
        </div>
        <div><mat-icon>bar_chart</mat-icon></div>
      </div>
    </mat-card>
    <mat-card class="p-4 bg-yellow-200!"
      ><h1 class="mb-4 text-3xl font-semibold">Brands</h1>
      <div class="flex justify-between items-center">
        <div class="flex flex-col gap-2">
          <span class="font-semibold text-xl">10</span>
          <span class="text-green-600">+8%</span>
        </div>
        <div><mat-icon>branding_watermark</mat-icon></div>
      </div>
    </mat-card>
  </div>

  <div class="mt-4">
    <div class="grid grid-cols-3 gap-8">
      <mat-card class="col-span-2 p-4">
        <h1 class="font-semibold">Sales Overview</h1>
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'"
        >
        </canvas>
      </mat-card>

      <mat-card class="p-4">
        <h1 class="font-semibold">Sales by Category Overview</h1>
        <canvas
          baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
        >
        </canvas>
      </mat-card>
    </div>
  </div>

  <div class="mt-4">
    <mat-card class="p-4 bg-white!">
      <h1 class="text-xl font-semibold mb-4">Today's Orders</h1>
      <app-table />
    </mat-card>
  </div>
</div>
